:root {
  --salmon: hsl(10, 79%, 65%);
  --cream: hsl(27, 66%, 92%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
}

body {
  background-color: var(--cream);
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  line-height: 1;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  max-width: 500px;
  padding: 0rem 1rem;
}

/** Balance Container Styling **/
.balance-container {
  background-color: var(--salmon);
  color: white;
  height: 115px;
}

.balance-font {
  margin-top: 0.8rem;
}

/** Spending Container Styling **/
.spending-container {
  background-color: #fff;
  margin-top: 1.5rem;
}

/** Percentage Container Styling **/
.percentage-container {
  display: flex;
  flex-direction: column;
}

.align-self-end {
  align-self: flex-end;
}

.percentage-margin {
  margin-bottom: 0.5rem;
}

/** Styling Shared Across Both Containers **/
.shared-containers {
  border: 1px solid transparent;
  padding: 1.5rem;
  border-radius: 18px;
  max-width: 500px;
}

.flex-space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spending-paragraph-spacing {
  margin-bottom: 0.8rem;
}

.heavy-bold {
  font-weight: 700;
}

/** Styling for Bar Graph Container **/
.bar-graph-container {
  border-bottom: 2px solid var(--cream);
}

#myChart {
  margin-bottom: 1.5rem;
}

/** General **/
.margin-top-2 {
  margin-top: 2rem;
}

.dark-brown {
  color: var(--dark-brown);
}

.medium-brown {
  color: var(--medium-brown);
}

.align-items-bottom {
  align-items: flex-end;
}

.spending-title {
  padding-top: 0.8rem;
}

.padding-bottom {
  padding-bottom: 1.5rem;
}
